/* @font-face {
    font-family: 'Trebuchet MS';
} */
* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    /* curser: url */
}

body {
    margin: 0;
    background: radial-gradient(rgb(25, 149, 153), rgb(32, 41, 80));
}

.sub-head {
    text-align: center;
    font-size: 3em;
    background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-title {
    color: rgb(130, 210, 221);
    text-align: center;
    font-size: 6em;
    font-weight: bold;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    font-style: italic;
}

.game-info {
    color: rgb(222, 253, 44);
    justify-content: space-between;
    justify-content: center;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 0%;
    margin: 10px;
    justify-content: center;
}

.card {
    background-image: url("./assets/images/fcardBack.jpg");
    background-repeat: no-repeat;
    height: 175px;
    width: 125px;
    background-size: contain;
    display: flex;
    justify-content: center;
}


/* **Adding the dance animation */
/* @keyframes dance {
    0%, 100% {
        transform: rorate(0)
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}
.card.matched .card-value {
    animation: dance 1s linear infinite 500ms;
} */

/* .overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: yellow;
} */

@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }
    .game-info-containter {
        flex-direction: column;
        align-items: center;
    }
}